# Ignora il file delle variabili di ambiente
.env.local

# Ignora il file di configurazione AWS
aws-config.js

# Dipendenze
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Produzione
/build

# File di sistema
.DS_Store
*.pem

# Log di debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# Cartella locale Netlify
.netlify
