
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  cursor: none;
  overflow-y: scroll;
  --clr-card: #1f2937;
  --clr-1: #79aad8;
  --clr-2: #a2dae9;
  --clr-3: #ffffff;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #fcfdff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

/* CustomCursor.css */
.custom-cursor {
  position: fixed;
  width: 45px;
  height: 45px;
  margin-top: -20px;
  transition: none;
  margin-left: -20px;
  font-size: 90px;
  border: 1px solid rgb(251, 251, 251);
  border-radius: 50%;
  background-color: none;
  /* mix-blend-mode: difference; */
  pointer-events: none;
  z-index: 9999;
}
input:hover .custom-cursor, a:hover .custom-cursor {
  border-color: red;  /* Cambia il bordo del cursore */
  background-color: red;  /* Cambia lo sfondo del cursore */
}
.custom-cursor.default {
  position: fixed;
  width: 45px;
  height: 45px;
  margin-top: -20px;
  transition: none;
  margin-left: -20px;
  font-size: 90px;
  border: 1px solid rgb(251, 251, 251);
  border-radius: 50%;
  background-color: none;
  /* mix-blend-mode: difference; */
  pointer-events: none;
  z-index: 9999;
}



.custom-cursor::before{
  content: '.';
  color: rgb(255, 255, 255);
  position: absolute;
  top: -60px;
  left: 15px;
}

/* Effetto Hover */
.custom-cursor.hover {
  transform: translate(-50%, -50%) scale(1.2);
  background-color: red;
}

.animatedHome{
  font-size:60px;
  color:white;
  mix-blend-mode:lighten;
  z-index:120;

  transition: all 1s ease-in-out;
/*   text-shadow: 1px 1px 7px rgb(255, 255, 255); */
}

.hiddenMobile{
  display: flex;
  width: 100%;
}
.hidden{
  display: none;
}

.logoDimension{
  transform: scale(0.5);
  pointer-events: all;
  margin-left: -40px;
  cursor: pointer;
}
.userFormGrid{
  display: grid;
  flex-wrap: wrap;
  gap: 2%;
  grid-auto-rows: auto;
  padding-top:30px;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.navbar{
  z-index: 30;
  display:flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  transition: background-color 0.3s ease;
  height: 100px;
  /* box-shadow: 1px 1px 13px rgb(242, 236, 236); */
  align-items: center 
}
.navbarScroll {
  display: flex;
  z-index: 2000;
  padding-right: 3%;
  opacity: 1; /* Inizialmente invisibile */
  width: 100%;
  position: fixed;
  opacity: 90%;
  background-color: #333;
  transition: background-color 0.3s ease, opacity 0.9s ease; /* Transizione per lo sfondo e l'opacità */
  justify-content: space-between;
  height: 100px;
  align-items: center;
}


.hoverableText:hover{
  text-decoration: underline;
  cursor: pointer;
}
.cardStyle{
  display: grid;
  background-color: white;
  grid-template-columns: 60% 40%;
  width: 50%;
  padding-right: 15px;
  box-shadow: 3px 3px 13px rgb(212, 203, 203);
  height: 400px;
  align-items: center;
  border-top-right-radius: 10px;
  border-left: none;
  overflow: hidden;
  border-bottom-right-radius: 10px;
}
.leftSabiri {
  display: flex;
  justify-content: flex-start;
}
.rightSab {
  display: flex;
  justify-content: flex-end;
}
.container__cards {
  width: 100%;
  min-height: auto; /* Permette al contenitore di adattarsi al contenuto */
  margin: auto;
  gap: 0px;
  margin-top: 70px;
  padding: 20px; /* Padding per evitare che il contenuto tocchi il bordo */
  z-index: 0; /* z-index neutro */
  pointer-events: auto; /* Permetti interazioni */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  place-items: center;
  padding-bottom: 50px;
  box-sizing: border-box; /* Include padding e bordo nel calcolo delle dimensioni */
}

.card{
  width: 370px;
  margin: 30px;
  pointer-events: auto!important;
  margin-bottom: -30px;
  border-radius:25px;
  border:'5px solid black';
  z-index: 100;
  transition: all 300ms;
}

/* .card:hover{
  width: 80%;
} */

.card .cover{
  width: 100%;
  height: 300px;
  position: relative;
}

.card .cover img{
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 20px;
  z-index: 1;
  filter: none;
  transition: all 400ms;
}


.card:hover .cover img{
  top: 10px!important;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
}
.cardM{
  width: 370px;
  margin: 30px;
  pointer-events: auto!important;
  margin-bottom: -30px;
  border-radius:25px;
  border:'5px solid black';
  z-index: 100;
  transition: all 300ms;
}

/* .card:hover{
  width: 80%;
} */

.cardM .coverM{
  width: 100%;
  height: 300px;
  position: relative;
}

.cardM .coverM img{
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 20px;
  z-index: 1;
  filter: none;
  transition: all 400ms;
}


.cardM:hover .coverM img{
  top: -40px!important;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
}
.cardM .img__backM{
  width: 100%;
  height: 400px;
  position: absolute;
  /* border: 1px solid #ffffff; */
  bottom: -175px;
  background: linear-gradient(83deg, rgba(245, 113, 208, 0.311) 0%, rgb(251, 251, 251) 44%, rgba(27, 229, 189, 0.526) 100%);
  border-bottom: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10),inset 1px 1px 63px white; */
  z-index: -1;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
}
.cardM .descriptionM{
  border: 0px solid #ffffff;
  margin-top: -10px;
  /* background-color: rgb(255, 255, 255); */
  opacity: 100%;
  border-top: none;
  z-index: 30;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
}

.cardM:hover .descriptionM{
  padding: 20px;
}

.cardM .descriptionM h2{
  margin-top: 10px;
}

.cardM .descriptionM p{
  margin-top: 10px;
}

.cardM .descriptionM input{
  padding: 10px 40px;
  margin-top: 20px;
  border: 1px solid #333;
  background: #333;
  color:white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
}
.formStyle{
 width: 100vw;
 z-index:10;
 display: flex;
 flex-direction: column;
 align-items: center 
}
.inputStyle{
  text-align: center;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.input{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 35%;
  border-radius: 35px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  background-color: transparent;
  border: 1.5px solid rgb(255, 255, 255);
}
.input input::placeholder {
  color: white;
  font-family: Montserrat;
}
/* .input:hover{
  box-shadow: 4px 4px 7px rgba(255, 255, 255, 0.333);
} */
.input::placeholder{
  color: white;
}


.card .img__back{
  width: 100%;
  height: 400px;
  position: absolute;
  /* border: 1px solid #ffffff; */
  bottom: -185px;
  background: linear-gradient(83deg, rgba(245, 113, 208, 0.311) 0%, rgb(251, 251, 251) 44%, rgba(27, 229, 189, 0.526) 100%);
  border-bottom: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10),inset 1px 1px 63px white; */
  z-index: -1;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
}
.containerWorks{
 border:'10px solid';
 z-index: 10;
 transition: transform 1s ease; 
 display: flex;
 align-items: flex-start; 
 padding: 5px;
 gap:1vw;
 padding-left: 0px;
}
.worksCard:hover{
  transform: scale(1.05);
}

.graphWorks{
  height:20px;
  width: 20px;
  display:none;
  transition: transform 1s ease; 
  background: linear-gradient(83deg, rgba(245, 113, 208, 0.111) 0%, rgb(251, 251, 251, 0.5) 44%, rgba(27, 229, 189, 0.226) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
}
.worksCard{
  width: 100%;
  border-radius: 5px;
  transition: margin 2s ease, transform 2s ease, opacity 2s ease;
  align-items: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.worksCard:hover .graphWorks{
  background-color: rgba(255, 255, 255, 0.317);
  
}
.textHover{
  font-size: 100%;
  opacity: 100%;
}
.worksCard:hover .textHover{
  opacity: 100%;
}
.columnTempl{
  display: grid;
  grid-template-columns: 45% 53%;
  gap: 5%;
  flex-wrap: wrap;
  border:'5px solid';
  width: 100%;
  margin-right: 15px;
  z-index: 10 
}

.card_work{
 display: flex;
 padding: 10px;
 z-index: 100;
 flex-direction: column;
 align-items: center;
 transition: background 2.5s ease-in-out; 
 gap: 0px;
 border-radius: 20px;
 background: linear-gradient(83deg, rgba(245, 113, 208, 0.011) 0%, rgb(251, 251, 251, 0.2) 44%, rgba(27, 229, 189, 0.226) 100%);
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset
}
.card_work_selected{
  display: flex;
  padding: 10px;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  border-radius: 20px;
  background: linear-gradient(83deg, rgba(253, 240, 249, 0.631) 0%, rgba(255, 255, 255, 0.937) 44%, rgba(230, 255, 250, 0.591) 100%);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset
 }
.card_work:hover{
  background:'red';
  top: 0px;
  mix-blend-mode: saturation;
}
/* Modal.css */
/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  /* Overlay semi-trasparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  position: relative; /* Necessario per la posizione assoluta della freccia */
}
.scroll-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scroll-content {
  display: flex;
  mix-blend-mode: multiply;
  width: 300%; /* Due immagini affiancate */
  animation: scroll 20s linear infinite;
}

.scroll-image {
  width: 50%; /* Ogni immagine occupa metà della larghezza del contenuto */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.close-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.arrow-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  background: transparent;
  border: none;
}

.arrow-button:hover {
  color: #007bff;
}
.counterCard {
  display: flex;
  width: 100%;
  margin-right:40px;
  margin-left:40px;
  z-index: 1;
  margin-bottom:40px;
  background: linear-gradient(83deg, rgba(255, 242, 251, 0.411) 0%, rgb(251, 251, 251, 0.3) 44%, rgba(201, 244, 235, 0.226) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  justify-content: space-around;
  padding: 20px;
  border-radius:20px  
}
.counterCard:hover {
  display: flex;
  width: 100%;
  margin-right:40px;
  margin-left:40px;
  margin-bottom:40px;
  background: rgba(255, 255, 255, 0.379);
  box-shadow: rgba(255, 255, 255, 0.785) 0px -2px 6px 0px inset;
  justify-content: space-around;
  padding: 20px;
  border-radius:20px  
}
.cardCrestLeft{
  width: 70%;
  align-self: flex-end ;
  padding: 30px;
  background: rgba(255, 255, 255, 0.379);
  box-shadow: rgba(50, 50, 93, 0.45) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 40px;
  z-index: 0;
  border-radius: 20px;
  margin-top: 20;
}
.cardCrestLeft:hover{
  box-shadow: rgba(255, 255, 255, 0.785) 0px -2px 6px 0px inset;
}
.cardCrestRight:hover{
  box-shadow: rgba(255, 255, 255, 0.785) 0px -2px 6px 0px inset;
}
.cardCrestLeftDown:hover{
  box-shadow: rgba(255, 255, 255, 0.785) 0px -2px 6px 0px inset;
}
.cardCrestLeftDown{
  width: 100%;
  align-self: flex-end ;
  padding: 30px;
  margin-left: 40px;
 background: rgba(255, 255, 255, 0.379);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 0;
  border-radius: 20px;
}

.cardCrestRight{
  width: 70%;
  align-self: flex-start ;
  padding: 30px;
  background: rgba(255, 255, 255, 0.379);
 /*  background: linear-gradient(83deg, rgba(245, 113, 208, 0.011) 0%, rgb(251, 251, 251, 0.55) 44%, rgba(27, 229, 189, 0.026) 100%); */
 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 40px;
  z-index: 0;
  border-radius: 20px;
  margin-top: 0px;
}

.tiltCard{
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
 /*  background: linear-gradient(83deg, rgba(245, 113, 208, 0.311) 0%, rgb(251, 251, 251) 44%, rgba(27, 229, 189, 0.526) 100%); */
 background: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card:hover .img__back{
  bottom: -175px;
  height: 400px;
  /* transform: scale(1.02); */
}

.card .description{
  border: 0px solid #ffffff;
  margin-top: -10px;
  /* background-color: rgb(255, 255, 255); */
  opacity: 100%;
  border-top: none;
  z-index: 30;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
}

.card:hover .description{
  padding: 20px;
}

.card .description h2{
  margin-top: 10px;
}

.card .description p{
  margin-top: 10px;
}

.card .description input{
  padding: 10px 40px;
  margin-top: 20px;
  border: 1px solid #333;
  background: #333;
  color:white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
}
.inputCardPrinc {
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  background: #333;
  color: whitesmoke;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
}
.inputCardPrinc:hover{
  background: #333;
}

.card .description input:hover{
  background: #354c55;
}
.backImg{
  position:fixed;
  left:0px;
  top:0px;
  height: 100vh;
  width: 100vw;
  opacity:0.4;
  z-index:-1
}
.backDiv{
  z-index:0;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  mix-blend-mode: lighten;
  background:linear-gradient(90deg, rgba(68,70,86,1) 0%, rgba(127,131,149,1) 50%, rgba(68,70,86,1) 100%)
}
.cardProj{
  width: 210px;
  overflow: hidden;
  flex-wrap: wrap;
  box-shadow: 3px 3px 13px rgb(175, 173, 173);
  border-radius: 20px;
  height: 210px;
  display: grid;
  grid-template-rows: 75% 25%;
  z-index: 0;
  background-color: white;
  cursor: pointer;
}
.cardProj:hover{
  border:5px solid orange
}
.backLottie{
  position: fixed;
  left: 0;
  width: 100%;
  background-repeat: repeat;
  opacity: 5%;
  mix-blend-mode: overlay;
  z-index: -1;
  top: 0;
}
.backS{
  position: fixed;
  left: 0;
  height: 100vh;
  mix-blend-mode: screen;
  opacity: 30%;
  top:0;
  width: 100%;
  z-index: -2;
  
  background-color: rgb(255, 255, 255);
}
.gradient {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: -1;
  padding-top: 80px;
  padding-bottom: 30px;
  width: 100%;
  height: 10vh;
  transition: background-color 0.3s ease, opacity 0.9s ease;
  background-color: #ACB0B3;
  background: url('../assets/sfondoPa.png');
  background-size: cover;
}
.gradient2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: -1;
  padding-top: 80px;
  padding-bottom: 0px;
  width: 100%;
  /* background: linear-gradient(90deg, rgba(68,70,86,1) 0%, rgba(127,131,149,1) 50%, rgba(68,70,86,1) 100%); */
  background: linear-gradient(90deg, rgba(68, 70, 86, 0.332) 0%, rgba(127, 131, 149, 0.128) 50%, rgba(116, 117, 125, 0.31) 100%);
 /*  background:radial-gradient(circle, rgba(134, 221, 208, 0.8) 0%, rgba(202, 213, 219, 0.9) 60%, rgba(46, 151, 135, 0.8) 100%); */

  /* background-color: #86d3c7cb; */
  background-size: cover;
}
.gradient::before{
  background-color: black;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100vh;
}
/* Stile per il cerchio principale */
.main-circle {
  position: absolute;
  right: 23vw;
  margin-top: 120px;
  width: 180px;
 /*  border:1px solid; */
  height: 180px;
  background: linear-gradient(83deg, rgba(75, 62, 71, 0.21) 0%, rgba(255, 255, 255, 0.25) 44%, rgba(44, 80, 72, 0.26) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stile per i cerchi più piccoli */
.small-circle {
  position: absolute;
  width: 70px;
  /* border: 1px solid; */
  height: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: linear-gradient(83deg, rgba(255, 255, 255, 0.329) 0%, rgba(255, 255, 255, 0.25) 44%, rgb(255, 255, 255) 100%);
  /* background-color: #f39c12;  */
  border-radius: 50%;
}

/* Posizioni dei cerchi più piccoli */
.circle1 {
  top: 5px; /* Posizionato in alto a sinistra */
  left: -110px;
}

.circle2 {
  top: -80px; /* Posizionato in alto a destra */
  right: -47px;
}

.circle3 {
  top: -80px; /* Posizionato in basso a sinistra */
  left: -47px;
}

.circle4 {
  top: 5px; /* Posizionato in basso a destra */
  right: -110px;
}
.circle5 {
  top: -110px; /* Posizionato in basso a destra */
  right: 55px;
}

/* Loader style */

.loader {
  width: 108px;
  top:40vh;
  height: 108px;
  z-index: 2000;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #34dadf;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #46c4e0;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #ffffff;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

/* END Loader style */
.cardRight{
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  background-color: white;
  padding-left: 15px;
  width: 50%;
  box-shadow: 3px 3px 13px rgb(212, 203, 203);
  height: 400px;
  border-right: none;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cardRight:hover{
  box-shadow: 3px 3px 13px lightgrey;
  background-color: whitesmoke;
}
.cardStyle:hover{
  box-shadow: 3px 3px 13px lightgrey;
  background-color: whitesmoke;
}
.gridTemplate{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  padding: 75px;
  padding-top: 30px;
  gap: 15%;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.selectedText{
  font-weight: 700;
  border-bottom: 1px solid white;
}
.borderLight{
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  filter: blur(10);
  border: 1.5px solid white;
  z-index: 300;
  color: white;
  font-weight:bold ;
  font-size: 14px;
  text-align: center;
}
.borderLight:hover{
  box-shadow: 1px 1px 13px rgb(196, 186, 186) inset 1px 1px 13px rgb(15, 14, 14);
  animation: anima 3s linear alternate infinite;
  background-color: #333;
}
.borderLight2{
  padding: 10px;
  border-radius: 10px;
  background-color: #333;
  filter: blur(10);
  border: 1.5px solid #333;
  z-index: 300;
  color: white;
  font-weight:bold ;
  font-size: 14px;
  text-align: center;
}

@keyframes anima {
  0%{
    box-shadow: 1px 1px 3px rgb(196, 186, 186);
    transform: scale(1);
  }
  50%{
    box-shadow: 1px 1px 13px rgb(196, 186, 186);
    transform: scale(1.05);
  }
  100%{
    box-shadow: 1px 1px 3px rgb(196, 186, 186);
    transform: scale(1);
  }
}
.burgerone{
  display: none;
}

.animationText{
  animation: textAnim 3s infinite alternate;
  display: flex;
  margin-left: 20px;
}
@keyframes textAnim {
  0%{
    left: 10px;
    position: absolute;
  }
  50%{
    left: 0px;
    position: absolute;
  }
  100%{
    left: 10px;
    position: absolute;
  }
}
.title {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 3px;
  color: white;
  font-family: 'Montserrat';
  z-index: 300;
}
.title:hover{
  font-weight: 700;
}
.subtitle{
  color: white;
  font-size: 20px;
  font-family: Montserrat;
  margin-left: 30px;
}
.invertResponsive{
  display: none;
}
.dropbtn {
  color: white;
  padding: 20px 20px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 5px;
  z-index: 10;
  border: none;
}
.dropbtnSelected{
  background-color: transparent;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  margin-top: 7px;
  font-weight: 700;
  z-index: 10;
  border: none;
}
.divService{
  width: 70%;
  padding: 30px;
  background: linear-gradient(83deg, rgba(245, 113, 208, 0.011) 0%, rgb(251, 251, 251, 0.55) 44%, rgba(27, 229, 189, 0.026) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 20px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: auto;
  margin: 0 auto;
  transition: transform 0.4s ease-out;
  z-index: -1;
  border-radius: 20px;
  margin-top: 20px 
}
.dropdown {
  position: relative;
  display: inline-block;
}
.cardRoundedDiv{
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: space-around;
  margin-top: 25%;
}


.roundCard{
  width: 340px;
  height: 340px;
  border-radius: 100%;
  border: 1px solid white;
}
.hamburger{
  margin-top: -35px;height: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  height: 50px;
  gap: 20px;
  top: 30px;
  right: 30px;
  text-align: center;
  
}



.dropdown-content a {
  /* color: white; */
  padding: 20px 20px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  
}

.dropdown-content a:hover {background-color: transparent; z-index: 10;}

.dropdown:hover .dropdown-content {display: block; background-color: transparent; left: 0; width:140px; text-align: left;}

.dropdown:hover .dropbtn {text-decoration: underline; background-color: transparent; color: white; border-radius: 0px; z-index: 10}
.backgroundImage{
  z-index: -1;
  transform: scale(0.5);
  position: fixed;
  opacity: 40%;
}
.backgroundImageArt{
  z-index: -1;
  width: 100%;
  opacity: 30%;
  position: fixed;
}
.backgroundImageProf{
  z-index: -1;
  transform: scale(0.4);
  position: fixed;
}

.backgroundColorProf{
  width: 100%;
  z-index: -1;
  height: 100vh;
  position: fixed;
}
.buttonStyle{
  /* background: linear-gradient(83deg, rgba(51, 195, 181, 0.311) 0%, rgb(251, 251, 251, 0.7) 44%, rgba(27, 229, 189, 0.526) 100%); */
  background-color:#333;
  cursor:pointer;
  color: white;
  box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 30%;
  justify-content: center;
  display: flex;
  border-radius:10px;
  align-self: flex-end;
  pointer-events: auto;
  padding:10px
}
.buttonStyle:hover{
  background-color: #354c55;
}
.textInner {
  font: bold 200px, sans-serif;
  background: linear-gradient(83deg, rgba(245, 113, 208, 0.311) 0%, rgba(123, 129, 130, 0.7) 44%, rgb(30, 141, 113) 100%);
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.backgroundColor{
  background-color: black;
  opacity: 50%;
  width: 100%;
  position: fixed;
}
.form{
  position:fixed;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.width100{
  width: 70%;
  padding: 30px;
  background: linear-gradient(83deg, rgba(245, 113, 208, 0.111) 0%, rgb(251, 251, 251, 0.5) 44%, rgba(27, 229, 189, 0.226) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
  margin: 0px auto;
  z-index: 1;
  border-radius: 20px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between 
}
.cardIntoDiv{
  width: 70%;
  padding: 30px;
  background: linear-gradient(83deg, rgba(245, 113, 208, 0.111) 0%, rgb(251, 251, 251, 0.5) 44%, rgba(27, 229, 189, 0.226) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  display:flex;
  justify-content: space-between
}

                                        
                                      
                                      


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out; 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardina {
  position: relative;
  height: 24rem;
  width: 20rem;
  border-radius: 0.45rem;
  cursor: pointer;
  background-color: var(--clr-card);
}

.cardina::after,
.cardina::before {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: -0.5rem;
  background: conic-gradient(
    from var(--gradient-angle),
  white,
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-2),
    var(--clr-1),
    white
  );
  border-radius: inherit;
  animation: rotate 2.5s linear infinite;
}

.cardina::after {
  filter: blur(0.5rem);
}

@keyframes rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.logoNavbar{
  z-index: 1000;
  opacity: 100%;
  padding-top: 50px;
  margin-left: 80px;
  font-size: 100px;
}
.name{
  font-size: 130px;
  font-weight: 900;
  color: #fadbb6;
  z-index:100
}
.pageProfile{
  display: flex;
  flex-direction:column;
  margin-top: 80px;
  margin-left: 40px 
}
.roleDiv{
  border: 1.5px solid #fadbb6;
  margin-left: 30px; 
  margin-top: 80px;
  border-radius: 50px;
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  z-index:100;
  align-items: center
}
.imagDiv{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  position: absolute;
  right: -100px;
  top:100px
}
.glowing-border {
  width: 200px;
  height: 200px;
  border: 2px solid transparent;
  position: relative;
  border-radius: 8px;
}
.videoRes{
  display: none;
}
.videoResponsive{
  display: flex;
}
.glowing-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  animation: rotateLight 3s linear alternate infinite;
}

@keyframes rotateLight {
  0% {
    transform: rotate(0deg);
    border-color: rgba(255, 255, 255, 0.6);
  }
  50% {
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 5px white;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 1px 13px white;
    border-color: rgba(255, 255, 255, 0.6);
  }
}
.footer {
  font-size: 18px;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  z-index: 100;
  position: relative;
  bottom: 0vh;
  min-height: 100px; /* Aggiungi un'altezza minima */
  border-radius: 0px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.footer-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}


.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}
.w100{
  width: 100%;
}
/* @media only screen and (max-width: 748px) {} */
@media only screen and (max-width: 748px) {
  .hamburger{
    display: none;
  }
  .container__cards{
    margin-top: 40px;
    grid-template-columns: 1fr!important;
  }
  
  
  .w100{
    width: 100%!important;
  }
  .font100{
    font-weight: 100!important;
  }
  
  .divService{width: 90%;padding: 0px;} 
}


/* IPAD */
@media (max-width: 1024px) {
  .footer-content {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
  }
  .footer-menu{
      text-align: left;
  }
  .animatedHome{
    font-size:40px;
  }
  .container__cards{
    margin-top: 30px;
    grid-template-columns: 50% 50%;
    width: 90%;
  }
  .footer-menu li {
    display: block;
    margin-bottom: 10px;
  }
  .columnTempl{
    display: grid;
    grid-template-columns: 100%;
    gap: 0%;
    flex-wrap: wrap;
    justify-items: center;
    z-index: 10 
  }
  .img_responsive{
    display: none!important;
  }
  .cardCrestLeft{
    width: auto;
    height: auto;
    padding: 20px;
  }
  .invertResponsive{
    display: flex;
  }
  .divService{display: none;}
  .cardCrestLeftDown{
    width: auto;
    height: auto;
    margin-left: 0px;
    padding: 20px;
    margin: 40px;
    margin-top: 0px;
  }
  .width100{
    width: 100%;
  }
  .cardCrestRight{
    padding: 20px;
    height: 100%;
    min-height: auto;
    width: 100%;
  }
  .cardIntoDiv{
    width: 100%;
  }
  .containerWorks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ml40{
    margin-left: 40px;
  }
  .cardM .descriptionM{
    margin-top: -80px;
  }
  .cardM .descriptionM input{
    margin-top: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    height: 50px;
    gap: 0px;
    top: 30px;
    right: 30px;
    text-align: center;
    
  }
  .card .img__back {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 20px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  
  
  .dropdown-content a {
    /* color: white; */
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    
  }

  
}

/* MEDIA QUERY TELEFONO */
@media only screen and (max-width: 600px) {
  .animatedHome{
    font-size: 20px;
    text-align: center;
    pointer-events: none;
  }
  .userFormGrid{
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
  
 /* .formStyle{
  height: 200vh;
 } */
  .cardCrestLeft{
    padding: 0px!important;
    margin: 20px!important;
  }
  .cardCrestRight{
    padding: 0px!important;
    margin: 20px;
  }
  .cardCrestLeftDown{
    padding: 0px!important;
    margin: 20px;
  }
  .videoRes{
    display: flex;
  }
  .videoResponsive{
    display: none!important;
  }
  .img_res{
    display: none;
  }
  .containerWorks{
    grid-template-columns: 1fr 1fr;
  }
  .logoDimension{
    margin-top: 160%;
    display: none;
  }.roleDiv{
    display: none;
  }
  .hiddenMobile{
    display: none;
  }
  .hidden{
    display: flex;
    width: 100%;
  }
 
  .container__cards {
    width: auto;
  }
  .mobileNone {
    display: none;
  }
  .loading{
    display: none!important;
  }
  .mobileMenu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 1;
    background-color: #444656c1;
    z-index: 10;
    transition: background-color 0.3s ease, opacity 0.9s ease;
}
  .imagDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    position: absolute;
    top:25%;
    left:0px;
  }
  .pageProfile{
    display: flex;
    flex-direction:column;
    margin-top: 0px;
    margin-left: 40px 
  }
  .descDiv{
    display: none;
  }
  .name{
    font-size: 70px;
    font-weight: 900;
    color: #fadbb6;
    z-index:100
  }
  .logoNavbar{
    display: none;
   }
   .burgerone{
    color: whitesmoke;
    opacity: 80%;
    position: absolute;
    top: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    font-size: 50px;
   }
   .burgerone img {
    width: 100%;
    max-width: 150px;
    max-height: 50px;  /* Impostato un limite massimo per l'altezza */
    height: auto;  /* Mantieni la proporzione dell'immagine */
  }
   .title{
    display: none;
   }
   .borderLight{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
   }
   .custom-cursor{
    display: none;
   }
   .worksCard{
    width: 80%;
   }
   .containerWorks{
    justify-items: center;
   }
   .formStyle{
    text-align: center;
   }
   .counterCard {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
   }
  
}

@media only screen and (max-width: 360px) {
  .cardM{
    width: 330px;
  }
  .card{
    width: 330px;
  }
  .card .img__back {
    bottom: -215px;
  }
  .cardM .img__backM {
    bottom: -200px;
  }
}